.header {
  font-family: Arial, sans-serif, sans-serif;
}

.inner {
  margin: 0% 2%;
  display: flex;
  justify-content: space-between;
}

.header_left {
  margin: 1.5% 0%;
}

.logo {
  font-size: 36px;
  font-weight: bold;
  color: #082077;
}

.header_right {
  margin: 2% 0;
  width: 80%;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

.menu_item {
  font-weight: bold;
  font-size: 22px;
  color: #082077;
  display: inline-block;
  margin-left: 2.5%;
}

.main {
  font-family: Arial, "游ゴシック", sans-serif;
  position: relative;
}

.message {
  position: absolute;
  top: 28.5vw;
  z-index: 0;
}

.message_txt {
  font-size: 98px;
  font-weight: 500;
  line-height: 90px;
}

.message_bar {
  width: 75vw;
  aspect-ratio: 100 / 18.5;
  background-color: #082077;
}

.image {
  position: absolute;
  top: 6.8vw;
  left: 50%;
  z-index: 10;
  width: 50%
}

.image_src {
  width: 100%;
}
